.navBar {
	background-color: var(--deepblack);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.23rem 2.5rem;
}

.navBar ul {
	display: flex;
	justify-content: space-between;
	flex: 0.13 1 0%;
}

.navBar > a {
	color: var(--lightyellow);
	font-weight: 600;
	font-size: 1.7rem;
	font-family: "Poiret One", cursive;
}

.navBar ul a {
	color: var(--lightgray);
	font-size: 1.06rem;
	margin-left: 0.8rem;
	transition: color 300ms;
}

.navBar ul a:hover {
	color: var(--lightyellow);
}

.cartContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.cartContainer svg {
	fill: var(--lightgray);
	width: 1.25rem;
	transition: fill 300ms;
}

.cartContainer:hover svg {
	fill: var(--lightyellow);
}

.cartContainer > span {
	font-size: 0.75rem;
}
