.navBar {
	background-color: var(--deepblack);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px 40px;
}

.navBar ul {
	display: flex;
	justify-content: space-between;
	flex: 0.13 1 0%;
}

.navBar > a {
	color: var(--lightyellow);
	font-weight: 600;
	font-size: 26px;
	font-family: "Poiret One", cursive;
}

.navBar ul a {
	color: var(--lightgray);
	font-size: 17px;
	margin-left: 10px;
}

.navBar ul a:hover {
	color: var(--lightyellow);
}

.cartContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.cartContainer svg {
	fill: var(--lightgray);
	width: 20px;
}

.cartContainer:hover svg {
	fill: var(--lightyellow);
}

.cartContainer > span {
	font-size: 12px;
}
