.shopContent {
	min-height: 80vh;
	border-radius: 12px;

	background-color: var(--fullwhite);

	padding: 2rem 5rem;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

.shopContent h1,
h2 {
	font-weight: 300;
	font-size: 1.45rem;
	text-align: center;
}

.shopContent h2 {
	font-size: 1.2rem;
}

.shopContent img {
	width: 13rem;
	border-radius: 50%;

	margin-bottom: 0.5rem;
}

.shopContent > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 7rem;
	row-gap: 3rem;

	margin-top: 2.5rem;
}
