.homeContent {
	color: var(--lightgray);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 10rem;
	margin-right: 14rem;
}

.homeContent h1 {
	font-weight: 400;
	font-size: 2rem;
}

.homeContent h1 span {
	color: var(--lightyellow);
}

.homeContent > div {
	display: flex;
	flex-direction: column;
	justify-content: center;

	min-height: 10vw;

	text-align: end;
	min-width: 20rem;
	font-size: 1.3rem;
	line-height: 1.9rem;
}

.homeContent a {
	align-self: center;
	text-align: center;
	border: 1px solid var(--lightgray);
	border-radius: 2px;
	padding: 0.4rem 3.2rem;
	color: var(--lightgray);
	animation: wiggle 4.5s alternate infinite;
	transition: background-color 250ms, color 250ms;
}

.homeContent a:hover {
	background-color: var(--lightgray);
	color: var(--deepblack);
}

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	97% {
		transform: rotate(0deg);
	}
	98% {
		transform: rotate(5deg);
	}
	99% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@media (max-width: 1350px) {
	.homeContent {
		margin-right: 10rem;
	}
}

@media (max-width: 1080px) {
	.homeContent {
		margin-right: 5rem;
	}
}

@media (max-width: 1000px) {
	.homeContent {
		margin: 27vh auto 0 auto;
	}

	.homeContent > div {
		text-align: center;
		padding: 2rem;
	}

	.homeContent h1 {
		text-align: center;
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
