.productDisplayContainer {
	flex: 1 1 0%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--deepblack);
	background-image: url("../../assets/backgroundShop.svg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	padding: 0.7rem 1.2rem;
}

.productDisplayContainer > div {
	flex: 1;

	border-radius: 12px;
	width: 100%;
	max-width: 43rem;

	background-color: var(--fullwhite);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.productDisplayContainer > div h1 {
	font-weight: 300;
	font-size: 1.45rem;
	margin-top: 1rem;
}

.productDisplayContainer img {
	width: 17rem;

	border-radius: 50%;
}

.productDisplayContainer span {
	font-size: 1.3rem;
}

.productDisplayContainer > div > div label {
	font-size: 1.3rem;
}

.productDisplayContainer > div > div input {
	background: var(--coolwhite);
	width: 3rem;
	margin-left: 0.7rem;
	border-radius: 2px;

	font-size: 1.2rem;
	text-align: center;
}

.productDisplayContainer button,
a {
	transition: background-color 200ms;
}

.productDisplayContainer button {
	background: var(--lightgray);
	border-radius: 5px;

	font-size: 1.2rem;
	padding: 0.5rem 1rem;
}

.productDisplayContainer button:hover {
	background: var(--coolwhite);
}

.backLink {
	background: var(--coolwhite);
	border-radius: 5px;

	font-size: 1rem;
	padding: 0.4rem 1rem;

	margin-bottom: 1rem;
}

.backLink:hover {
	background: var(--lightgray);
}

.checkoutLink {
	background: var(--lightgray);
	border-radius: 5px;

	font-size: 1.2rem;
	padding: 0.5rem 1rem;
}

.checkoutLink:hover {
	cursor: pointer;

	background: var(--coolwhite);
}

@media (max-width: 700px) {
	.productDisplayContainer {
		padding: 0.7rem 1.2rem 5rem 1.2rem;
	}
}
