.shopContent {
	min-height: 80vh;
	width: 60vw;
	border-radius: 12px;

	background-color: var(--fullwhite);

	padding: 2rem 5rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	box-sizing: initial;
}

.shopContent h1,
h2 {
	font-weight: 300;
	font-size: 1.45rem;
	text-align: center;
}

.shopContent > div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	grid-template-rows: auto;
	column-gap: 4rem;
	row-gap: 3rem;
	align-items: center;
	justify-content: center;

	margin-top: 2.5rem;
}

.productDisplay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.productDisplay h2 {
	font-size: 1.2rem;
}

.productDisplay img {
	width: 13rem;
	border-radius: 50%;

	margin-bottom: 0.5rem;
}

@media (max-width: 760px) {
	.shopContent {
		width: 40vw;
	}
}
