/* TITLE */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/* body */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");

:root {
	--lightyellow: #f5bf2b;
	--lightgray: rgb(197, 191, 181);
	--deepblack: rgb(0, 0, 0);
	--coolwhite: #e3e3e2;
}

body {
	font-family: "Jost", sans-serif;
}
