@import url("https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap");

.pageContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Brygada 1918", serif;
}

.content {
	flex: 1 1 0%;
	background-image: url("./assets/background.png");
	background-position: center;
	background-size: cover;
	background-color: var(--deepblack);
	background-repeat: no-repeat;
}
